doctype html
html
    head
        meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
        meta(name="viewport",content="width=device-width, initial-scale=1")
        meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
        include link
        title #{head_title || '后台管理'}
        block currentStyle
    body
        block content
        include script
        
    
    