//- !-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
script(src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js")
//- <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
script(src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js")
//- angular
script(src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js")
script(src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular-animate.min.js")
script(src="http://apps.bdimg.com/libs/angular-route/1.3.13/angular-route.js")
//- layui
script(src="../public/layui/layui.all.js")
//- 自己定义的公共代码
script(src="../public/js/util.js")
//- axios
script(src="http://cdn.bootcss.com/axios/0.18.0/axios.min.js")
//- 饿了么js
//- script(src="https://unpkg.com/element-ui/lib/index.js")
            
//-     url:'../public/table.js'

